<h1>Primer semana en Gymbro</h1>
<p>Es tu primer semana siendo parte de la comunidad, recuerda que con gymbro puedes visitar cualquier gimnasio de tu ciudad pagando solo una membresia</p>
<em>Si aún no eres premium, esta es tu oportunidad</em>