<div id="<%= dom_id visit %>">
<h3>Gimansios Visitados</h3>
  <p>
    <%# <strong>User:</strong> %>
    <%# visit.user.name %>
  </p>

  <p>
    <strong>Gimnasio:</strong>
    <%= visit.gym.name %>
  </p>

  <p>Lo visitaste el día</p>
  <span><%= visit.created_at.strftime('%B %e at %l:%M %p') %></span>

</div>
