    <%= render @user %>
    <% if user_is_premium? || user_is_admin?%>
      <div>
        <%= link_to "Registrar visita", new_visit_path, class:"block rounded my-6 p-2 bg-red-600 text-white font-semibold cursor-pointer border border-black text-center hover:bg-red-400 mb-4 sm:inline" %>
      </div>
    <% end %>
      <%= link_to "Editar mis datos", edit_user_registration_path(@user), class:"block rounded mt-6 p-2 bg-indigo-700 text-white font-semibold border border-black text-center transition cursor-pointer hover:bg-indigo-500 sm:inline" %>
      <% if @user.visits.count == 0%>
        <%= button_to "Eliminar mi usuario", @user, method: :delete, class:"block rounded w-full p-2 bg-transparent text-black font-semibold border border-black text-center mt-6 mb-6 transition cursor-pointer hover:bg-black hover:text-white sm:w-auto sm:inline-block" %>
      <%end%>
    </div>
  </div>
</div>