<div id="<%= dom_id review %>">
  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= review.gym_id %>
  </p>

</div>
